{{#if (eq request.status 'pending')}}
    {{#paper-item class=rowClass}}

        <img src={{if isAdmin request.user.image imageUrl}}  class="md-avatar">
        <div class="md-list-item-text">
            <h3><b>Topic: </b>{{request.topic}}</h3>
            <h4><b>Description: </b>{{request.description}}</h4>
            <p><b>Time added: </b>{{request.req_time}}</p>
            {{#if isAdmin}}
                <span class="station"><b>Station:</b>{{request.user.station}}</span>
                <span class="tier"><b>Tier: </b>{{request.user.tier}}</span>

            {{/if}}
        </div>
        {{#paper-button iconButton=true onClick=(action 'deleteRow') class="md-secondary"  }}
            {{#if isAdmin}}
            {{paper-icon "check-circle"}}
            {{else}}
            {{paper-icon "cancel"}}
            {{/if}}
        {{/paper-button}}
    {{/paper-item}}
{{/if}}