{{#if (eq request.status 'pending')}}
    {{#paper-item class=rowClass}}

        <img src={{if isAdmin request.user.image imageUrl}}  class="md-avatar">
        <div class="md-list-item-text">
            <div><b>Topic: </b>{{request.topic}}</div>
            <div><b>Description: </b>{{request.description}}</div>
            <div><b>Time passed: </b>{{timeFrom}}</div>
            {{#if isAdmin}}
                <div class="station"><b>Station: </b>{{request.user.station}}</div>
                <div class="tier"><b>Tier: </b>{{request.user.tier}}</div>

            {{/if}}
        </div>
        {{#paper-button iconButton=true onClick=(action 'deleteRow') class="md-secondary"  }}
            {{#if isAdmin}}
            {{paper-icon "check-circle"}}
            {{else}}
            {{paper-icon "cancel"}}
            {{/if}}
        {{/paper-button}}
    {{/paper-item}}
{{/if}}