{{#if (eq request.status 'pending')}}
    {{#paper-item class=rowClass}}

        <img src={{if isAdmin request.user.image imageUrl}}  class="md-avatar">
        <div class="md-list-item-text">
            <h3>{{request.topic}}</h3>
            <h4>{{request.description}}</h4>
            <p>{{request.req_time}}</p>
            {{#if isAdmin}}
                <span class="station">{{request.user.station}}</span>
                <span class="tier">{{request.user.tirer}}</span>
                <span class="tier">{{request.user.tirer}}</span>

            {{/if}}
        </div>
        {{#paper-button iconButton=true onClick=(action 'deleteRow') class="md-secondary"  }}
            {{#if isAdmin}}
            {{paper-icon "check-circle"}}
            {{else}}
            {{paper-icon "cancel"}}
            {{/if}}
        {{/paper-button}}
    {{/paper-item}}
{{/if}}